$background: rgba(162, 185, 188, 0.03);
$accent: #12E9B6;
// $accent: #b2ad7f;
$foreground: #878f99;

body {
    background-image: url('../Images/abstract.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins';
    margin: 0;
    overflow: hidden;
}
// img {
//     margin: 0;
//     padding: 0;
//     position: absolute;
//     z-index: -2;
//     top: 0;
//     left: 0;
// }

.heroimage {
    padding: 0;
    margin: auto auto -1em auto;
    height: 100%;
}

.container {
    display: block;
    height: calc(100vh - 15em);
    background: $background;
    margin: 4em 4em 4em 4em;
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    h2 {
        color: $foreground;
        font-size: 1.7em;
        font-family: 'Lora', serif;
    }
    h1, h2 {
        margin: 0;
        font-family: 'Lora', serif;
    }
    p {
        margin: 0;
        font-family: 'Merriweather', serif;
    }
    .oi {
        color: $accent;
        line-height: 2em;
        width: 1.5em;
        padding-left: 4em;
    }
    .container {
        width: auto;
        height: 60%;
    }
    .mainpanel {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 100%;
        .leftpanel {
            display: grid;
            height: 100%;
            place-items: center;
            grid-column-start: 1;
            // border: 2px black solid;
            margin: 0;
            padding: 0;
            
            .welcometext {
                max-width: 70%;
                .name {
                    display: flexbox;
                    flex-direction: row;
                    h1 {
                        font-size: 4em;
                        text-align: left;
                        color: $accent;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    .surname {
                        padding-top: 0;
                        margin-top: 0;
                        padding-left: 1em;
                        line-height: 1em;
                        text-align: left;
                        text-transform: uppercase;
                        color: rgba(243, 193, 41, 0.7);
                        // color: pink;
                    }
                }
                p {
                    text-align: left;
                    color: $foreground;
                }
                .copy {
                    overflow-wrap: vertical;
                }
                .contactblock {
                    margin: 1.5em 0;
                    text-align: left;
                    color: $foreground;
                }
                .contacttext {
                    color: white;
                    padding-left: 2em;
                }
            }
        }
        .rightpanel {
            display: grid;
            grid-column-start: 2;
            place-content: bottom;
            // border: 2px black solid;

            background-image: url('../Images/image.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .textpanel {
                margin: auto auto 0 auto;
                padding: 2em;
                width: 40%;
                text-align: center;
                backdrop-filter: blur(30px);
                border: solid 2px transparent;
                background-clip: padding-box;
                border-radius: 20px;
                box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
                .label{
                    color: white;
                    font-size: 2em;
                }
            }
        }
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    // border: white 2px solid;
    .footertext {
        text-align: center;
        color: $foreground;
        padding: 3em;
        margin: 0;
    }
}
